/* Webfont: Type */@font-face {
    font-family: 'Type03';
    src: url('Type.eot'); /* IE9 Compat Modes */
    src: url('Type.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('Type.woff') format('woff'), /* Modern Browsers */
         url('Type.ttf') format('truetype'), /* Safari, Android, iOS */
         url('Type.svg#Type') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

